@import "tailwindcss";

body {
  /* Ensure the background covers the whole screen on larger devices */
  background-color: #f9fafb; 
  display: flex;
  justify-content: center; 
  min-height: 100vh;
}

footer {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}